*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    background: #ddd;
    min-height: 100vh;
}
.container h1{
    text-align: center;
    font-size: 40px;
    padding: 15px;
    color: #333;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.container .image-container .image{
    width: 350px;
    height: 250px;
    border: 10px solid #fff;
    box-shadow: 0 5px 1px rgba(0,0,0,0.1);
    overflow: hidden;
}
.container .image-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s linear;
}
.container .image-container .image:hover img{
    transform: scale(1.2);
}
.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 100;
    display: none;
    
}
.popup-image span {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}
.popup-image img {
    border: 5px solid #f7f7f7;
    height: 550px;
    object-fit: cover;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}


@media(max-width:768px){
    .popup-image img{
       height: 450px;
    }
}