*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    
}
.gallery a {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
}
.gallery a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery a img:hover{
    transform: scale(1.2);
}
h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    text-transform: capitalize;
    letter-spacing: 2px;
}